* {
    padding: 0;
    margin: 0;
}

body {
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    font-size: 1em;
}

input[type=text], select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.unselectable {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none;
}

.debatesystem {
    overflow: hidden;
}

.uppersection {
    height: 75vh;
    width: 100vw;
    background-color: #eeeeee;
    min-width: 890px;
    min-height: 650px;
}

    .debatehistory {
        height: inherit;
        width: inherit;
        display: inline-flex;
        min-width: inherit;
        min-height: inherit;
    }
        .debatehistorydialogue {
            height: inherit;
            width: 93%;
            display: inline-flex;
            min-height: inherit;
        }

            .debatehistorydialogue__boundary {
                height: 98%;
                width: 98%;
                margin: auto auto;
                background-color: #ffffff;
                position: relative;
                overflow: scroll;
                overflow-x: hidden;
                border-radius: 5px;
                box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
            }

            .debatehistorydialogue__log {
                height: 100%;
                width: 100%;
                display: flex;
                flex-direction: column;
            }

                .debatehistorydialogue__list {
                    list-style-type: none;
                    display: inline-grid;
                }

                    .debatehistorydialogue__logitem {
                        height: 100%;
                        display: flex;
                    }

                        .debatehistorydialogue__logitemturn {
                            min-width: 50px;
                            padding-left: 3px;
                        }

                        .debatehistorydialogue__logitemcontent {
                            flex: 1 100%;
                            padding-left: 3px;
                        }


                .debatehistorydialogue__turncolumnholder {
                    flex: 1 0%;

                    width: 50px;
                    padding-left: 3px;
                }

                .debatehistorydialogue__turncolumn {
                    background: #8c8c8c;
                    color: #ffffff;
                }

    .commitmenttabs {
        height: inherit;
        width: 7%;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        min-height: inherit;
    }
        .commitmenttabs__tabcontainer {
            width: 100%;
            height: 40%;
            position: relative;
        }

            .commitmenttabs__tab {
                height: 300px;
                display: flex;
                margin-left: 10px;
                position: absolute;
                right: 0px;
            }

            .commitmenttabs__tab__open {
                right: 10px;
            }

                .commitmenttabs__tabbuttonarea {
                    height: inherit;
                    display: flex;
                }

                    .commitmenttabs__tabbutton {
                        height: 65%;
                        width: 45px;
                        margin-top: 10px;
                        background: #1976d2;
                        border-radius: 0px 10px 10px 0px;
                        cursor: pointer;

                        -webkit-transform: rotate(180deg);
                        -moz-transform: rotate(180deg);
                        -o-transform: rotate(180deg);
                        -ms-transform: rotate(180deg);
                        transform: rotate(180deg);
                        writing-mode: vertical-lr;

                        text-align: center;
                        color: #ffffff;
                        font-weight: bold;
                        vertical-align: middle;
                        line-height: 45px;

                        box-shadow: 4px -20px 20px 0 rgba(0,0,0,0.2), 4px -8px 20px 0 rgba(0,0,0,0.19);
                    }

                        .commitmenttabs__tabbuttonarea:focus .commitmenttabs__tabbutton {
                            outline:0;
                        }

                        .commitmenttabs__tabbuttonarea:hover .commitmenttabs__tabbutton {
                            background-color: #63a4ff;
                        }

                        .commitmenttabs__tabbuttonarea:active .commitmenttabs__tabbutton {
                            background-color: #004ba0;
                            box-shadow: 4px -20px 20px 0 rgba(0,0,0,0.3), 4px -8px 20px 0 rgba(0,0,0,0.29);
                            -webkit-transform: rotate(180deg);
                            -moz-transform: rotate(180deg);
                            -o-transform: rotate(180deg);
                            -ms-transform: rotate(180deg);
                            transform: rotate(180deg) translateY(-2px);
                            writing-mode: vertical-lr;
                        }

                    .commitmenttabs__tabedge {
                        width: 20px;
                        cursor: pointer;

                        background-color: #8c8c8c;
                        border-radius: 5px 0px 0px 5px;
                        box-shadow: -9px 7px 20px 0px rgba(0,0,0,0.2), 3px 11px 20px 0 rgba(0,0,0,0.19);
                    }

                        .commitmenttabs__tabbuttonarea:focus .commitmenttabs__tabedge {
                            outline:0;
                        }

                        .commitmenttabs__tabbuttonarea:hover .commitmenttabs__tabedge {
                            background-color: #bdbdbd;
                        }

                        .commitmenttabs__tabbuttonarea:active .commitmenttabs__tabedge {
                            background-color: #494949;
                            box-shadow: -9px 7px 20px 0px rgba(0,0,0,0.3), 3px 11px 20px 0 rgba(0,0,0,0.29);
                        }

                .commitmenttabs__store {
                    width: 400px;
                    background-color: #ffffff;
                    overflow: scroll;
                    overflow-x: hidden;
                    border-radius: 0px 5px 5px 0px;
                    box-shadow: 3px 9px 20px 0 rgba(0,0,0,0.2), 1px -2px 20px 0 rgba(0,0,0,0.19);
                }

                    .commitmenttabs__store__hidden {
                        display: none;
                    }



    .commitmentstore__list {
        height: inherit;
        width: inherit;
        display: flex;
        flex-direction: column;
    }

        .commitmentstore__listelement {
            list-style-type: none;
            display: block;
            padding-bottom: 6px;
            padding-left: 3px;
            cursor: pointer;
        }

        .commitmentstore__listelement:hover {
            background-color: #63a4ff;
        }

            .commitmentstore__listelement__clicked {
                background-color: #1976d2;
                color: #ffffff;
                list-style-type: none;
                display: block;
                padding-bottom: 6px;
                padding-left: 3px;
                cursor: pointer;
            }

.lowersection {
    background-color: #eeeeee;
    height: 25vh;
    width: 100vw;
    min-width: 890px;
}

    .userinput {
        margin: auto auto;
        width: 95%;
        height: 100%;
        display: flex;
        justify-content: flex-start;
    }
        .userinput__backbuttonarea {
            margin: auto 0;
            width: 7%;
            height: 85%;
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
        }

            .userinput__backbuttoncontainer {
                margin: 0 auto;
            }

                .userinput__backbutton {
                    margin: inherit;
                    background-color: #8c8c8c;
                    border: none;
                    border-radius: 25%;

                    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
                    color: #343631;
                    font-size: 50px;
                    padding: 0px 13px;

                    cursor: pointer;
                }

                .userinput__backbutton:focus {
                    outline:0;
                }

                .userinput__backbutton:hover {
                    background-color: #bdbdbd;
                }

                .userinput__backbutton:active {
                    background-color: #494949;
                    color: #ffffff;
                    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.3), 0 6px 20px 0 rgba(0,0,0,0.29);
                    transform: translateY(2px);
                }

        .userinput__inset {
            width: 85%;
            height: 85%;
            background-color: #ffffff;
            flex: inherit;
            display: flex;
            flex-wrap: nowrap;
            flex-direction: column;
            justify-content: space-evenly;
            margin: auto auto;
            box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
            border-radius: 5px;
        }
            .userinput__guidancearea {
                width: 90%;
                height: 15%;
                margin: auto auto;
                border-radius: 5px;

                display: flex;
                justify-content: center; /* align horizontal */
                align-items: center;
                background: #8c8c8c8c;
            }

            .userinput__submissionarea {
                display: flex;
                flex-wrap: nowrap;
                justify-content: space-evenly;
                margin: inherit;
            }

                .userinput__inputarea {
                    margin: inherit;
                    height: inherit;
                    width: inherit;
                    flex: 9 85%;
                }

                    .userinput__inputarea__inputs{
                        margin: inherit;
                        height: 100%;
                        width: 90%;
                        display: flex;
                        flex-wrap: wrap;
                        align-content: center;
                    }

                        .userinput__movetype {
                            margin: inherit;
                            flex: 2 25%;
                        }

                        .userinput__implytextbox {
                            margin: inherit;
                            flex: 1 15%;
                        }

                        .userinput__movecontent {
                            margin: inherit;
                            flex: 7 75%;
                        }

                .userinput__buttonsection {
                    margin: inherit;
                    height: inherit;
                    width: inherit;
                    display: flex;
                    flex-direction: column;
                    flex-wrap: nowrap;
                    flex: 1 15%;
                }

                    .userinput__inputbutton {
                        margin: inherit;
                    }

                        .userinput__button {
                            margin: inherit;
                            background-color: #1976d2;
                            border: none;
                            border-radius: 50%;
                            box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);

                            color: white;
                            font-size: 45px;
                            padding: 19px 19px;

                            cursor: pointer;
                        }

                        .userinput__button:focus {
                            outline:0;
                        }

                        .userinput__button:hover {
                            background-color: #63a4ff;
                        }

                        .userinput__button:active {
                            background-color: #004ba0;
                            box-shadow: 0 8px 16px 0 rgba(0,0,0,0.3), 0 6px 20px 0 rgba(0,0,0,0.29);
                            transform: translateY(2px);
                        }

                        .userinput__button__disabled {
                            background-color: #87afd6;
                            cursor: default;

                        }

                        .userinput__button__disabled:hover {
                            background-color: #87afd6;
                        }

::-webkit-scrollbar
{
  width: 12px;  /* for vertical scrollbars */
  height: 12px; /* for horizontal scrollbars */
}

::-webkit-scrollbar-track
{
  background: rgba(0, 0, 0, 0.1);
}

::-webkit-scrollbar-thumb
{
  background: rgba(0, 0, 0, 0.5);
}

.homepage {
    height: 100vh;
    width: 100vw;
    background-color: #eeeeee;
    min-width: 890px;
}

    .homepage__titlearea {
        margin: auto auto;
        height: 30%;
        width: 100%;
        display: flex;
        flex-direction: column;
    }

        .homepage__titleareatitle {
            margin: inherit;
            width: 50%;
            flex: 2 50%;
        }

        .homepage__titleareadescription {
            margin: inherit;
            width: 50%;
            flex: 1 30%;
        }

    .homepage__startarea {
        margin: auto auto;
        height: 30%;
        width: 50%;
        display: flex;
        flex-direction: row;
    }

        .homepage__startareadropdown {
            margin: inherit;
            flex: 2 30%;
        }

            .homepage__topicdropdown {
                margin: inherit;
                width: 80%;
            }

        .homepage__startareabutton {
            margin: auto auto;
            width: inherit;
            display: flex;
            flex-direction: column;
            flex: 1 15%;
        }

            .homepage__gobuttoncontainer {
                margin: inherit;
            }

                .homepage__gobutton {
                    margin: inherit;
                    background-color: #1976d2;
                    border: none;
                    border-radius: 50%;
                    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);

                    color: white;
                    font-size: 45px;
                    padding: 45px 19px;

                    cursor: pointer;
                }

                .homepage__gobutton:focus {
                    outline:0;
                }

                .homepage__gobutton:hover {
                    background-color: #63a4ff;
                }

                .homepage__gobutton:active {
                    background-color: #004ba0;
                    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.3), 0 6px 20px 0 rgba(0,0,0,0.29);
                    transform: translateY(2px);
                }

.hidden {
    display: none;
}
